.chat-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  max-height: 900px;
  display: flex;
  flex-direction: column;
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px; /* 채팅 리스트 패딩 추가 */
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 5px; /* 입력창과 버튼 간격 조정 */
}

.input-container input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #ffffff; /* 입력창 배경색 수정 */
  color: #000000; /* 입력 텍스트 색상 수정 */
}

.input-container button {
  padding: 8px 15px;
  background-color: #3ba9f8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0f74b3;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 8px;
}

.message.sent {
  align-items: flex-end;
}

.message.received {
  align-items: flex-start;
}

.profile {
  margin-right: 10px;
}

.message-text {
  padding: 10px;
  border-radius: 10px;
  background-color: #3ba9f8; /* 보낸 메시지 배경색 수정 */
  color: #ffffff; /* 보낸 메시지 텍스트 색상 수정 */
  max-width: 70%; /* 메시지 너비 제한 */
  word-break: break-word; /* 긴 단어나 URL을 줄 바꿈 */
}

.message.received .message-text {
  background-color: #ffffff; /* 받은 메시지 배경색 수정 */
  color: #000000; /* 받은 메시지 텍스트 색상 수정 */
}

.time {
  font-size: 0.7rem;
  color: #777777; /* 시간 텍스트 색상 수정 */
  margin-left: 5px; /* 시간과 메시지 간격 추가 */
}
