
.monitor{
    background-repeat: no-repeat; /* Ensure the image doesn't repeat */
    background-size: contain; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image within the element */
    height: 100vh; /* Full viewport height */
}

