#sign-up-wrapper{
    width: 100vw;
    min-width: 1440px;
    height: 100vh;
    min-height: 1024px;

    display: flex;
}


.sign-up-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap:24px;
}

.sign-up-title {
    color: rgba(64,64,64,1);
    font-size: 30px;
    font-weight: 700;
    line-height: 173%;
    display: flex;
    justify-content: center;
}

.sign-up-content-box{
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
    width: 100%;
}

.sign-up-content-sns-sign-in-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}

.sign-up-content-sns-sign-in-title {
    color: rgba(138,146,166,1);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.sign-up-content-sign-in-button-box{
    display: flex;
    gap:24px;
}

.sign-up-content-divider{
    border-top: 1px solid rgba(238,238,238,1);
    width: 64px;

}

.sign-up-content-input-box{
    gap:14px;
    display: flex;
    flex-direction: column;
}

.sign-up-content-button-box{
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 60%;
}

.errorMessageWrap{
    font-size: 13px;
    color: red;
}

