@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Regular';
  src: url('./fonts/YUniverse-L.woff') format('woff')
}
@font-face {
  font-family: 'Bold';
  src: url('./fonts/YUniverse-B.woff') format('woff')
}

* {
  margin: 0;
  font-family: 'Bold', 'Roboto', sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
